Split Files
cover.out
.DS_Store
coverage.out

# Editor/IDE
.vscode/
.zed/

# Ignoring generated stuff
frontend/node_modules/
build/
frontend/dist/
frontend/wailsjs/
frontend/package-lock.json
tools/livesplitImageExtractor/Program.exe
frontend/src/models/command.ts
tools/livesplitImageExtractor/lssicons.csproj
