@layer components {
    form {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }
    .datagrid-container {
        height: 100px;
        padding-right: 5px;
        flex-grow: 1;
        margin: 0;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .datagrid {
        --wails-draggable: no-drag;
        flex: 1 1 auto;
        min-width: 0;
        border-collapse: collapse;
    }

    .datagrid th {
        background-color: #640199;
        text-align: left;
        height: 40px;
        padding-left: 10px;
    }

    .datagrid td {
        border: 1px solid #666;
        background-color: #282828;
    }

    .datagrid input {
        border: 0;
        padding: 8px 0 0 8px;
        background-color: transparent;
    }
    .datagrid input:focus {
        outline: 0;
    }

    label {
        position: relative;
        left: 5px;
    }

    input,
    textarea {
        --wails-draggable: nodrag;
        padding: 15px;
        border: 1px solid #333;
        border-radius: 3px;
        width: 100%;
        box-sizing: border-box;
        font-size: 16px;
        background-color: #282828;
        color: #d9d9d9;
    }

    input:focus {
        outline: none;
    }
    input:focus-visible {
        outline: 2px solid #640199; /* your color */
        outline-offset: 2px; /* pull it off the edge a bit */
    }

    form .actions {
        width: 100%;
        display: flex;
        justify-content: end;
    }
    form .actions button {
        margin-left: 10px;
    }

    div.segment-time {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        padding: 5px 20px 5px 5px;
    }

    .segment-time input {
        height: 25%;
        text-align: right;
        background-color: #444;
        padding-right: 10px;
        min-width: 40px;
    }

    ::placeholder {
        color: #808080; /* Example: a light gray color */
    }
}
