@layer reset {
    html, body, #root, #App { height: 100%; }
    body { margin: 0; }

    #App {
        display: flex;
        flex-direction: column;   /* or row */
        min-height: 100%;
    }
}