@layer components {
    div.splitter {
        display: flex;
        flex: 1;
        flex-direction: column;
        min-height: 0;
    }

    div.splitList {
        display: flex;
        flex-direction: column;
        flex: 1;
        min-height: 0;
    }

    .gameInfo {
        flex: 0 0 auto; /* takes as much height as needed */
        background: linear-gradient(to bottom, #640199, #5b0190);
        text-align: center;
    }

    .gameTitle {
        font-size: 20px;
        font-weight: normal;
    }

    .gameCategory {
        margin-block: 0;
        margin: 0;
        padding-bottom: 10px;
        font-size: 20px;
        font-weight: normal;
    }

    .splitBody {
        display: flex;
        flex-direction: column;
        flex: 1;
        min-height: 0;
    }

    .splitContainer {
        flex: 1;
        min-height: 0;
        overflow-y: auto;
    }

    .finalSegment {
        flex: 0 0 auto; /* do not shrink; stays at bottom of splitBody */
        background: linear-gradient(to bottom, #640199, #5b0190);
    }

    .timer-container {
        flex: 0 0 auto; /* do not shrink; stays at bottom of splitter */
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding: 10px;
    }

    .splitList table {
        margin: 0;
        padding: 0;
        width: 100%;
        border-collapse: collapse;
    }

    .splitList table tr.selected {
        background: #000;
        color: #fff;
    }

    .splitList table td {
        border: 2px solid #333;
        border-left: 0;
        border-right: 0;
        padding: 5px;
    }

    .splitList .splitName {
        width: 60%;
    }

    .splitList .splitComparison {
        text-align: right;
        font-family: "Monofonto", sans-serif;
    }

    .splitContainer::-webkit-scrollbar {
        width: 0;
    }

    .splitContainer:hover::-webkit-scrollbar {
        width: 10px;
    }

    .splitContainer::-webkit-scrollbar-thumb {
        background-color: rgba(255, 255, 255, 0.4);
        border-radius: 6px;
    }

    .splitContainer::-webkit-scrollbar-track {
        background: transparent;
    }
}
