@layer componenets {
    .time-container {
        font-family: 'Monofonto', sans-serif;
        font-size: 50px;
    }

    .timer-ahead {
        color: greenyellow;
    }

    .timer-behind {
        background-color: #000;
        color: #f00;
    }

    .timer-gold {
        color: gold;
    }
}
