@layer vars {
    :root {
        /* Theme colors */
        --background: #282828;
        --surface: #333;
        --surface-dark: #1f1f1f;

        --text-color: #d9d9f0;
        --muted-text: #888;

        --border-color: #666;

        --accent: #640199;
        --accent-color: #640199;

        /* Splitter */
        --splitlist-direction: column;

        /*
         * Splitter layout.
         *
         * Supported values:
         *   vertical
         *   horizontal
         *
         * The active layout is exposed to the splitter as:
         *
         *   [data-layout="vertical"]
         *   [data-layout="horizontal"]
         *
         * Skins may override the default layout by changing this
         * variable and/or style either layout explicitly.
         */
        --splitter-layout: vertical;

        --split-delta-text-align: right;
        --split-delta-font-family: Techna;

        --split-comparison-text-align: right;
        --split-comparison-font-family: Techna;

        --splitter-gameinfo-min-width: max(
            var(--splitter-game-title-min-width, 50px),
            var(--splitter-game-category-min-width, 50px),
            var(--splitter-game-variable-min-width, 50px),
            var(--splitter-attempts-min-width, 40px)
        );

        --splitter-segment-row-min-height: max(
            var(--splitter-segment-name-min-height, 10px),
            var(--splitter-segment-delta-min-height, 10px),
            var(--splitter-segment-comparison-min-height, 10px),
            var(--splitter-segment-time-min-height, 10px)
        );

        --splitter-segment-row-min-width: max(
            var(--splitter-segment-name-min-width, 10px),
            var(--splitter-segment-delta-min-width, 10px),
            var(--splitter-segment-comparison-min-width, 10px),
            var(--splitter-segment-time-min-width, 10px)
        );

        --group-bg: #333;

        /* Layout */
        --panel-padding: 8px;
        --panel-gap: 8px;
    }
}
