@layer components {
    .welcome {
        display: flex;
        flex: 1;
        flex-direction: column;
        align-items: center;

        padding: 20px 20px 5px;

        background: linear-gradient(to bottom, #222, #4b0170);
    }

    .welcome img {
        width: 150px;
        height: 150px;
    }

    .welcome button {
        margin-top: 5px;
    }

    .welcome-footer {
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: flex-end;

        margin-top: auto;

        color: #888;
        font-size: 10px;
    }

    .welcome-exit {
        margin-top: 30px;
    }
}
