@layer components {
    #time-container {
        display: flex;

        flex-direction: row;
        justify-content: flex-end;

        width: 100%;

        padding-right: 10px;
        box-sizing: border-box;

        align-items: baseline;

        font-family: "Monofonto", sans-serif;
        font-size: 50px;
    }
}
