name: Lint

on:
    pull_request:
    push:
        branches: [ main ]

jobs:
    lint:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v6

            - uses: actions/setup-go@v6
              with:
                  go-version-file: 'go.mod'
                  cache: true

            - name: Setup go-task
              uses: pnorton5432/setup-task@v1
              with:
                  task-version: 3.44.1

            - name: "Ensure dist"
              run: task ensure-dist

            - name: golangci-lint
              uses: golangci/golangci-lint-action@v9
              with:
                  version: latest
                  args: --timeout=5m
